
body{
	margin: 0;
	padding: 0;
}
.box1{
	width: 31.3%;
	padding-bottom: 31.3%;
	background-color: orange;
	margin: 1%;
	float: left;
	border-radius: 30px;
}
.box2 {
	text-align: center;
	overflow: hidden;
	padding: 1%;
}
